@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.owl-carousel {
  position: relative !important;
}
.owl-dots {
  position: absolute !important;
  z-index: 1000 !important;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
